/* App.css */
.app {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100vh;
}

.employee-list {
  flex: 1;
  margin-right: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.organization-chart {
  flex: 2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.filters {
  margin-bottom: 20px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  appearance: none;
}

ul {
  list-style-type: none;
 
}